@import url('https://fonts.googleapis.com/css?family=Rouge+Script&display=block');

.start {
    font-family: 'Rouge Script', cursive;
    font-size: 1rem;
}

.lyricsContainer.etoile-et-toi-\(edition-le-blanc\) {
    $text-movement-distance: 0.4em;
    $text-movement-time: 1;
    $card-transition-time: 0.5;
    $separator-transition-time: 2;

    font-family: 'Rouge Script', cursive;
    font-size: 1rem;

    .card {
        --card-timers: --fade-in start -#{$card-transition-time} start 0 linear, --separator-glide start 0 start #{$separator-transition-time} easeInOut;

        background: black;
        opacity: var(--fade-in);

        .contents {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
        }

        .voice {
            display: block;
            overflow: visible;
            padding: 0;
            font-size: 0;

            --movement-direction: -1;

            &:first-child {
                --movement-direction: 1;
            }

            .voiceContents {
                display: inline-block;

                overflow: hidden;
                padding: 0.1rem;
                font-size: 1rem;

                box-sizing: border-box;
                min-height: calc(var(--max-voice-height) * 1px);

                .word {
                    --word-timers: --fade-in start 0 start #{$text-movement-time} linear, --lower-in start 0 start #{$text-movement-time} easeOut;
                    
                    display: inline-block;
                    vertical-align: middle;
            
                    opacity: var(--fade-in);
                    transform: translateY(calc((1 - var(--lower-in)) * var(--movement-direction) * #{$text-movement-distance}));
                }
            }

            &::after {
                display: block;
                content: ' ';

                margin: 0.4rem auto;
                height: 1px;
                width: 1px;
                margin: auto;
                background: white;

                --separator-width: calc((var(--voice-width) + var(--next-voice-width)) / 2);
                --previous-separator-width: calc((var(--previous-card-voice-width) + var(--previous-card-next-voice-width)) / 2);

                --current-width: calc(var(--previous-separator-width) + (var(--separator-width) - var(--previous-separator-width)) * var(--separator-glide));

                transform: scaleX(var(--current-width));
            }

            &:last-child::after {
                display: none;
                content: none;
            }
        }

        &.instrumental {
            --card-timers: --fade-in start -#{$card-transition-time} start 0 linear, --progress start 0 end 0 linear;

            &::before {
                display: block;
                content: ' ';

                position: absolute;
                top: 0;
                left: 0;
                height: 4px;
                width: calc(var(--progress) * 100%);

                background: white;
            }
        }
    }
}