<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>lyrsync - immersive synchronised lyrics</title>
        <link rel="stylesheet" type="text/css" href="/listing.scss" />
    </head>
    <body>
        <h1>lyrsync</h1>
        <ul class="songs">
            <li>
                <a class="song" href="/songs/2992/">
                    <span class="title">2992</span>
                    <span class="artist">millennium parade</span>
                </a>
            </li>
            <li>
                <a class="song" href="/songs/liquescimus/">
                    <span class="title">liquescimus</span>
                    <span class="artist">Kurosawa Tomoyo</span>
                    <span class="from">Houseki no Kuni (Land of the Lustrous)</span>
                </a>
            </li>
            <li>
                <a class="song" href="/songs/komm-susser-tod/">
                    <span class="title">Komm, süßer Tod</span>
                    <span class="artist">Arianne Schreiber</span>
                    <span class="from">The End of Evangelion</span>
                </a>
            </li>
            <li>
                <a class="song" href="/songs/etoile-et-toi-(edition-le-blanc)/">
                    <span class="title">étoile et toi (édition le blanc)</span>
                    <span class="artist">Clémentine &amp; Ainhoa</span>
                    <span class="from">Kizumonogatari Ⅲ: Reiketsu-hen</span>
                </a>
            </li>
            <li>
                <a class="song" href="/songs/du-hast/">
                    <span class="title">Du Hast</span>
                    <span class="artist">Rammstein</span>
                </a>
            </li>
            <li>
                <a class="song" href="/songs/puppe/">
                    <span class="title">Puppe</span>
                    <span class="artist">Rammstein</span>
                </a>
            </li>
        </ul>
        <div class="promo">To learn more or contribute, take a look at our <a href="https://github.com/JoshuaWalsh/lyrsync">GitHub</a>.</div>
    </body>
</html>