<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>lyrics.js</title>
        <link rel="stylesheet" type="text/css" href="/global.scss" />
    </head>
    <body>
        <ul class="songs">
            <li>
                <a href="/songs/etoile-et-toi-(edition-le-blanc)/">étoile et toi (édition le blanc)</a>
                <a href="/songs/puppe/">Rammstein - Puppe</a>
            </li>
        </ul>
    </body>
</html>