html {
    background: #111;
    font-family: sans-serif;
    font-size: 40px;
}

body {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
}

ul.songs {
    list-style: none;
    padding-left: 0;
    margin: 1rem -0.5rem;

    li a.song {
        display: block;

        text-decoration: none;
        color: white;

        padding: 0.5rem;

        font-size: 0;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        .title {
            display: block;
            font-size: 1rem;
            margin-bottom: 0.2rem;
        }

        .artist {
            display: inline-block;
            font-size: 0.7rem;
        }

        .from {
            display: inline-block;
            font-size: 0.7rem;
        }

        .artist + .from::before {
            content: '-';
            display: inline-block;
            margin: 0 0.3rem;
        }
    }
}

.promo {
    font-size: 0.4rem;

    color: white;

    a {
        color: white;
    }
}