* {
    padding: 0;
    margin: 0;
}

html {
    background: black;
    color: white;
    font-size: 80px;
}

@media (max-width: 1280px) {
    html {
        font-size: 50px;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 30px;
    }
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100vh;
    position: relative;
}

.start {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 50vh;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
}

.lyricsContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;

    .card {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.playerContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}